<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.first.dao.mapper.CommentsVoteMapper" >
  <resultMap id="BaseResultMap" type="com.first.model.CommentsVote" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="comments_id" property="commentsId" jdbcType="INTEGER" />
    <result column="vote_user_id" property="voteUserId" jdbcType="INTEGER" />
    <result column="vote_username" property="voteUsername" jdbcType="VARCHAR" />
    <result column="vote_type" property="voteType" jdbcType="INTEGER" />
    <result column="reson" property="reson" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>