<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.first.dao.mapper.NewsShareMapper" >
  <resultMap id="BaseResultMap" type="com.first.model.NewsShare" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="news_id" property="newsId" jdbcType="INTEGER" />
    <result column="share_user_id" property="shareUserId" jdbcType="INTEGER" />
    <result column="share_username" property="shareUsername" jdbcType="VARCHAR" />
    <result column="share_to" property="shareTo" jdbcType="VARCHAR" />
    <result column="sharetime" property="sharetime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>